
.row{
  height: 200px;
}
.product-title{
  margin-top:20px;
  margin-bottom:20px;
}
.col-md-4{
  margin-bottom:20px;
}
.flex-box{
  display:flex;
}
@media (min-width: 1000px)
{
  .card{
  width: 31%;
  display: inline-block;
  margin-right:2%;
  margin-bottom: 20px;}
}


